* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #F1A4FF url("../images/background.png") no-repeat center;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    font-family: 'Pacifico', cursive;
    position: absolute;
    font-size: 3rem;
    color: #FFF;
    top: 6rem;
    font-weight: 300;
    text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
}

.todoList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 80vh;
    margin: 2rem 0;
    z-index: 1;
    padding-bottom: 2rem;
}

.todoList::before {
    content: "";
    position: absolute;
    background: #FFF;
    opacity: 0.5;
    z-index: -1;
    width: 40%;
    height: 80vh;
}

.toDoForm {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    position: relative;
    width: 70%;
}

.label {
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    position: absolute;
    top: 1.9rem;
    opacity: 0.5;
    transition: .5s;
}

.focusInput .label {
    font-size: 1.2rem;
    color: #FFF;
    font-weight: 500;
    transform: translateY(-30px);
    opacity: 1;
}

.toDoForm .error {
    border-bottom: 1px solid #99290f;
    transition: 1s;
}

.errorLabel {
    color: #99290f;
}

.toDoForm input {
    margin: 1rem 0;
    width: 100%;
    height: 3rem;
    background: transparent;
    outline: none;
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
}

.toDoForm input ~ .focus {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 0;
    height: 0.1rem;
    background-color: mediumpurple;
    transition: 0.4s;
}

.toDoForm input:focus ~ .focus {
    width: 100%;
    transition: 0.4s;
}

.list {
    width: 80%;
    height: 80%;
    overflow-y: auto;
    margin-bottom: 2rem;
}

.list li {
    list-style-type: none;
    margin: 0 1rem;
}

.list li .task {
    padding: 0.5rem 1rem;
    background:  rgba(255,255,255, 0.5);
    border: 0.3rem solid #FFF;
    border-radius: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    line-height: 1.5rem;
}

.list li .date {
    margin: 0 2rem;
    font-family: 'Zilla Slab', serif;
    font-size: 0.8rem;
    color: #FFF;
}

.list li .task  p {
    width: 90%;
    padding: 0 1rem;
    height: 5rem;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.list li .task  div {
    position: relative;
    height: 5rem;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    flex-direction: column;
}

.list li .task  .line {
    margin: -1rem 1rem;
    height: 6rem;
    width: 0.3rem;
    background: #FFFFFF;
    right: 39%;
}

.fas {
    font-size: 1.5rem;
    position: absolute;
    cursor: pointer;
}

.delete {
    color: #3B00FF;
    opacity: 0.8;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.check {
    color: #8132FF;
    opacity: 0.8;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.icon-default {
    transition: opacity .8s, transform .8s;
    opacity: 0.8;
}

.icon-hover {
    transition: opacity .8s, transform .8s;
    opacity: 0;
}

.check:hover .icon-hover, .delete:hover .icon-hover {
    opacity: 0.8;
}

.check:hover .icon-default, .delete:hover .icon-default {
    opacity: 0;
}

.progressBar {
    margin: 2rem;
}

.progressBar .bar {
    width: 40rem;
    height: 3rem;
    background: #000;
    border: 0.2rem solid white;
    border-radius: 3rem;
    opacity: 0.5;
}

.progressBar span {
    padding: 0.5rem 0;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #FFF;
    position: absolute;
    top: 2rem;
    height: 3rem;
    background: mediumpurple;
    border-radius: 3rem;
    opacity: 0.8;
    transition: 2s;
    min-width: 2.5rem;
}

button {
    padding: 0.5rem 2.5rem;
    width: 10rem;
    height: 3rem;
    background: mediumpurple;
    border: none;
    box-shadow: 6px 6px 0 rgba(0,0,0,0.2);
    font-family: 'Zilla Slab', serif;
    color: #FFF;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.5s;
}

button:hover {
    border-radius: 1rem;
    opacity: 0.8;
}

.removeAll {
    position: absolute;
    bottom: 1rem;
    right: 35%;
}

::-webkit-scrollbar {
    width: 10px;
    right: -1rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background:mediumpurple;
}

::-webkit-scrollbar-thumb:hover {
    background: #8120FF;
}

.finished {
    opacity: 0.5;
    text-decoration: line-through;
}

@media only screen and (max-width: 768px) {

    body {
        background-size: 200% 100%;
    }

    .todoList {
        width: 85%;
    }

    .todoList::before {
        content: "";
        width: 90%;
    }

    .toDoForm {
        margin: 1rem 0;
    }

    .toDoForm input {
        width: 100%;
    }

    .progressBar {
        width: 90%;
    }

    .progressBar .bar {
        width: 90%;
    }

    .list {
        width: 100%;
    }

    .list li {
        margin: 0 0.5rem;
    }

    .removeAll {
        bottom: -3rem;
        right: 25%;
    }

    button {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .todoList {
        width: 80%;
    }

    .todoList::before {
        content: "";
        width: 80%;
    }

    .removeAll {
        bottom: 5rem;
        right: 20%;
    }

}